[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
	branch = master
[submodule "flashrom"]
	path = flashrom
	url = https://github.com/flashrom/flashrom.git
	branch = staging
