[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "flashrom"]
	path = flashrom
	url = https://github.com/stefanct/flashrom.git
	branch = stable
